node_modules
**/node_modules

dist
**/dist

.git
.gitignore

.env
**/.env
**/.env.*

yahdong-webapp/test-results
yahdong-webapp/playwright-report
yahdong-api/coverage

.vscode
.idea
.DS_Store
Thumbs.db
*.log
